@model Ttl.Web.JourneyPlanning.Models.AdvancedSearchModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Advanced Search - Search for train tickets</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.17.js")" type="text/javascript"></script>
    <!--script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script-->
    <script src="@Url.Content("~/Scripts/AdvancedSearch.js")" type="text/javascript"></script>
</head>
<body>
    @using (Html.BeginForm("Search", "AdvancedSearch", FormMethod.Post, new Dictionary<string, object> { { "class", "form-horizontal" } }))
    {
        <noscript>
            <input type="hidden" name="ScriptDisabled" id="ScriptDisabled" value="true" />
        </noscript>
        <div class="container">
            <h1>Advanced Search</h1>
            <div class="well">
                <fieldset>
                    <legend class="border"><b>Where do you want to go?</b></legend>
                    <div class="control-group">
                        <label class="control-label" for="OriginStation">Leaving from</label>
                        <div class="controls">
                            <input type="text" name="OriginStation" id="OriginStation" autocomplete="off" class="input-medium" placeholder="Origin station" value="@Model.OriginStation" />
                        </div>
                    </div>
                    <div class="control-group">                
                        <label class="control-label" for="DestinationStation">Leaving to</label>
                        <div class="controls">
                            <input type="text" name="DestinationStation" id="DestinationStation" autocomplete="off" class="input-medium" placeholder="Destination station" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <hr />
            <div class="well">
                <fieldset>
                    <legend class="border"><b>When would you like to travel?</b></legend>
                    <div class="control-group">
                        <label class="control-label" for="outwardDate">Outward date</label>
                        <div class="controls">
                            <input type="text" name="outwardDate" id="outwardDate" autocomplete="off" class="input-medium datepicker" placeholder="Date (dd/mm/yy)" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="journeyType">Journey type</label>
                        <div class="controls">
                            <select class="input-small" id="journeyType" name="journeyType">
                                <option value="S" selected="selected">Single</option>
                                <option value="R">Return</option>
                                <option value="O">Open Return</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">                
                        <label class="control-label" for="returnDate">Return date</label>
                        <div class="controls">
                            <input type="text" name="returnDate" id="returnDate" autocomplete="off" class="input-medium datepicker" placeholder="Date (dd/mm/yy)" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <hr />
            <div class="">
                <fieldset>
                    <legend class="border"><b>Number of passengers</b></legend>
                    <div class="row">
                        <div class="span3">
                            <div class="control-group">
                                <label class="control-label" for="AdultsTravelling">Adults</label>
                                <div class="controls">
                                    @Html.DropDownList("AdultsTravelling", Model.AdultsTravelling, new Dictionary<string, object> { { "class", "input-mini" } })
                                </div>
                            </div>
                        </div>
                        <div class="span9">
                            <div class="control-group">
                                <label class="control-label" for="ChildrenTravelling" title="Children between the age of 5 and 15">Children (5-15 years)</label>
                                <div class="controls">
                                    @Html.DropDownList("ChildrenTravelling", Model.ChildrenTravelling, new Dictionary<string, object> { { "class", "input-mini" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <hr />
            <div class="row">
                <div class="span7">&nbsp;</div>
                <div class="span5">
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" id="advancedSearch" name="advancedSearch" value="Check fares and availability" class="btn-success"/>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    }
</body>
</html>
